<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <appSettings>
    <add key="AdventureWorks.ConnectionString.SQL Server (SqlClient)" value="data source=(local);initial catalog=AdventureWorks;integrated security=SSPI;persist security info=False;packet size=4096"/>
  </appSettings>
  <connectionStrings>
    <!-- please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination -->
	  <add name="ConnectionString.SQL Server (SqlClient)" connectionString="metadata=res://*/AW.csdl|res://*/AW.ssdl|res://*/AW.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=AdventureWorks;integrated security=SSPI;persist security info=False;packet size=4096&quot;" providerName="System.Data.EntityClient"/>
	  <add name="NHConnectionString.SQL Server (SqlClient)" connectionString="data source=(local);initial catalog=AdventureWorks;integrated security=SSPI;persist security info=False;packet size=4096"/>
    <add name="L2SConnectionString.SQL Server (SqlClient)" connectionString="data source=(local);initial catalog=AdventureWorks;integrated security=SSPI;persist security info=False;packet size=4096"/>
    <add name="Oak" connectionString="data source=(local);initial catalog=AdventureWorks;integrated security=SSPI;persist security info=False;packet size=4096"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
