<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination -->
		<add name="EF.ConnectionString.SQL Server (SqlClient)" connectionString="data source=win2008sql2012\sqlexpress;initial catalog=AdventureWorks;integrated security=SSPI;persist security info=False" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration> 