<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<!--
			 Please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination
			 If you use a differently named adventure works database, be sure to change the initial catalog descriptions in the connection strings below.
			 The extra connection string for telerik Fluent is required as the OpenAccess runtime used in the other telerik bencher caches metadata 
			 related to the connection string so the fluent one will crash if it doesn't use its own connection string. 
		-->

		<!-- <add name="AdventureWorks.ConnectionString.SQL Server (SqlClient)" connectionString="data source=llblgen5dev\SQLEXPRESS2016;initial catalog=AdventureWorks;integrated security=SSPI;persist security info=False;packet size=4096" providerName="System.Data.SqlClient" /> -->
		<add name="AdventureWorks.ConnectionString.SQL Server (SqlClient)" connectionString="data source=.\SQLEXPRESS;initial catalog=AdventureWorks;integrated security=SSPI;persist security info=False;packet size=4096;Encrypt=False" providerName="System.Data.SqlClient" />
		<add name="EF.ConnectionString.SQL Server (SqlClient)" connectionString="metadata=res://*/AW.csdl|res://*/AW.ssdl|res://*/AW.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ATHENA\SQLEXPRESS2017;initial catalog=AdventureWorks;integrated security=SSPI;persist security info=False;packet size=4096;Encrypt=false&quot;" providerName="System.Data.EntityClient" />

		<!-- note: LocalDB -->
		<!--<add name="AdventureWorks.ConnectionString.SQL Server (SqlClient)" connectionString="data source=(localdb)\MSSQLLocalDB;Initial catalog=AdventureWorks;integrated security=SSPI;persist security info=False;packet size=4096" providerName="System.Data.SqlClient" />
		<add name="EF.ConnectionString.SQL Server (SqlClient)" connectionString="metadata=res://*/AW.csdl|res://*/AW.ssdl|res://*/AW.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=AdventureWorks;integrated security=SSPI;persist security info=False;packet size=4096&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
</configuration>