<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Main.ConnectionString" value="data source=zeusvm\sqlserver2005;initial catalog=AdventureWorks_2008;integrated security=SSPI;persist security info=False;packet size=4096"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
