<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AdventureWorksConnection" connectionString="data source=(localdb)\v11.0;initial catalog=AdventureWorks;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>