<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SqlServer.Types" version="11.0.1" targetFramework="net45" />
  <package id="Telerik.DataAccess.Core" version="2014.1.403.2" targetFramework="net45" />
  <package id="Telerik.DataAccess.Fluent" version="2014.1.403.2" targetFramework="net45" />
</packages>